@model RegisterAndLogin6.Models.Account
@{
    ViewBag.Title = "ChangePassword";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>비밀번호 변경</title>
</head>
<body>

    <h2>비밀번호 변경</h2>
    <hr />
    <form class="form-horizontal" id="PasswordChangeForm" method="post">

        <div class="form-group">
            <label>아이디</label>
            <input type="text" class="form-control" id="UserId" value="@Session["UserId"].ToString()" disabled />
        </div>
        <div class="form-group">
            <label>기존 비밀번호</label>
            <input type="password" class="form-control" id="OldPassword" placeholder="기존 비밀번호" />
        </div>
        <div class="form-group">
            <label>새로운 비밀번호</label>
            <input type="password" class="form-control" id="NewPassword" placeholder="새로운 비밀번호" />
        </div>
        <div class="form-group">
            <label>새로운 비밀번호 확인</label>
            <input type="password" class="form-control" id="NewPasswordConfirm" placeholder="새로운 비밀번호 확인" />
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary" onclick="PasswordChange()" value="PasswordChange" id="btnPasswordChange">비밀번호 변경</button>
            <a class="btn btn-default" href="javascript:window.history.back();">취소</a>
        </div>

    </form>
</body>
</html>