@model RegisterAndLogin6.Models.Account

@{
    ViewBag.Title = "ResetPassword";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <title>비밀번호 변경</title>
</head>
<body>

    <h2>비밀번호 변경</h2>
    <div>
        @Html.ActionLink("로그인", "Login")
    </div>
    <hr />
    <form class="form-horizontal" id="PasswordChangeForm" method="post">

        <div class="form-group">
            <label>OTP</label>
            <input type="text" class="form-control" id="OTP" placeholder="OTP" />
        </div>
        <div class="form-group">
            <label>새로운 비밀번호</label>
            <input type="password" class="form-control" id="NewPassword" placeholder="새로운 비밀번호" />
        </div>
        <div class="form-group">
            <label>새로운 비밀번호 확인</label>
            <input type="password" class="form-control" id="NewPasswordConfirm" placeholder="새로운 비밀번호 확인" />
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary" onclick="PasswordChange()" value="PasswordChange" id="btnPasswordChange">비밀번호 변경</button>
            <a class="btn btn-default" href="javascript:window.history.back();">취소</a>
        </div>

    </form>
</body>
</html>