@model RegisterAndLogin6.Models.Account
@{
    ViewBag.Title = "Welcome";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome</title>
</head>
<body>

    <h2>환영합니다. @(Session["UserId"].ToString())님</h2>
    <hr />
    @if (Session["UserId"] != null)
    {
        <text>
            Welcome @Session["UserId"].ToString()
        </text>
    }
    <br>
    <a href="@Url.Action("Logout", "Account")">Logout</a>
</body>
</html>