@{
    ViewBag.Title = "UploadFile";
}

<h2>UploadFile</h2>

@*@using (Html.BeginForm("UploadFile", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div>
            @Html.TextBox("file", "", new { type = "file" }) <br />
            <input type="submit" value="Upload" />
            @ViewBag.Message
        </div>
    } *@

<form action="UploadFile" method="post" enctype="multipart/form-data">
    <hr />
    <input type="file" name="file" id="file" accept='image/*' />
    <br />
    <input type="submit" value="Upload" class="btn btn-primary" />
    @ViewBag.Message
</form>

@*<input type="file" name="file" id="file" accept='image/*' />
    <br />
    <input type="button" id="btn_Upload" value="Upload" class="btn btn-primary" />*@
@*<input type="submit" id="btn_Upload" value="Upload" class="btn btn-primary" />*@

<!--<script>
    $("#btn_Upload").click(function () {-->
@*var data = {

    }*@
<!--$.ajax({
            type: "POST",
            url: "/Upload/UploadFile",
            //data: data,
            success: function () {
                alert("업로드 성공!!");
            }

        })
    });
</script>-->
